<div class="content-home">
  <div class="d-flex flex-wrap justify-content-between mb-4" style="margin-top: 40px;">
    <div class="d-flex flex-column gap-2">
      <h2 class="titulo">Métodos HTTP</h2>
      <h3 class="subtitulo">Qual requisição HTTP você gostaria de testar hoje?</h3>
    </div>
  </div>
  <div class="d-flex flex-wrap gap-5" style="margin-top: 120px;">
    <div class="group-cards d-flex gap-5 justify-content-between flex-wrap mb-4">
      <a routerLink="./get">
        <div class="card get d-flex align-items-center justify-content-center">
          <h2 class="text-card">get</h2>
        </div>
      </a>
      <a routerLink="./post">
        <div class="card post d-flex align-items-center justify-content-center">
          <h2 class="text-card">post</h2>
        </div>
      </a>
      <div class="card put d-flex align-items-center justify-content-center">
        <h2 class="text-card">put</h2>
      </div>
      <div class="card delete d-flex align-items-center justify-content-center">
        <h2 class="text-card">delete</h2>
      </div>
    </div>
  </div>
</div>
