.masthead {
  text-align: center;
  background-image: url("../../../assets/bg.png");
  width: 99vw;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 94vh;

  .container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    position: relative;
    top: 65%;
  }

  h4 {
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }

  h5 {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
  }

  button {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #0075FF;
    border: none;
    width: 280px;
    height: 48px;
    border-radius: 50px;

    &:hover {
      background-color: #0064d6;
      transition: 0.3s;
    }
  }
}

@media screen and (max-width: 768px) {

  .container {
    gap: 12px!important;
    top: 50%!important
  }

  h4 {
    font-size: 60px!important
  }

  h5 {
    font-size: 20px!important
  }

  button {
    font-size: 16px!important;
    width: 260px!important;
    height: 40px!important
  }
}

// Responsividade
@media screen and (max-width: 520px) {

  h4 {
    font-size: 28px !important;
  }

  h5 {
    font-size: 16px !important;
  }
}
